
@{
    ViewData["Title"] = "Login";
}



<div>
    <b-card title="Card Title"
            img-src="https://iatkv.tmgrup.com.tr/4e05d4/616/321/0/130/2036/1190?u=https%3a%2f%2fitkv.tmgrup.com.tr%2f2020%2f05%2f19%2fen-guzel-turk-bayragi-resimleri-ataturk-ve-turk-bayragi-resimleri-icin-tiklayiniz-1589876005068.jpg"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem;"
            class="mb-2">
        <b-card-text>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </b-card-text>

        <b-button href="#" variant="primary">Go somewhere</b-button>
    </b-card>
</div>