<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script href="~/vendor/vue/dist/vue.min.js"></script>
</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
